.lst-kix_list_1-1>li:before {
    content: "\0025cb  ";
}

.lst-kix_list_3-2>li:before {
    content: "\0025a0  ";
}

.lst-kix_2lkzbwehyk74-3>li:before {
    content: "\0025cf  ";
}

.lst-kix_c5t5hhvxsmmb-5>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_1-2>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_1-5>li:before {
    content: "\0025a0  ";
}

.lst-kix_2lkzbwehyk74-1>li:before {
    content: "\0025cb  ";
}

.lst-kix_list_2-3>li:before {
    content: "\0025a0  ";
}

.lst-kix_20hegd49ud3-3>li:before {
    content: "\0025cf  ";
}

.lst-kix_c5t5hhvxsmmb-6>li:before {
    content: "\0025cf  ";
}

.lst-kix_list_1-4>li:before {
    content: "\0025a0  ";
}

.lst-kix_20hegd49ud3-0>li:before {
    content: "\0025cf  ";
}

.lst-kix_2lkzbwehyk74-2>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_2-7>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_1-8>li:before {
    content: "\0025a0  ";
}

.lst-kix_c5t5hhvxsmmb-8>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_3-3>li:before {
    content: "\0025a0  ";
}

.lst-kix_20hegd49ud3-6>li:before {
    content: "\0025cf  ";
}

.lst-kix_list_3-6>li:before {
    content: "\0025a0  ";
}

.lst-kix_c5t5hhvxsmmb-7>li:before {
    content: "\0025cb  ";
}

.lst-kix_20hegd49ud3-8>li:before {
    content: "\0025a0  ";
}

.lst-kix_20hegd49ud3-2>li:before {
    content: "\0025a0  ";
}

.lst-kix_20hegd49ud3-7>li:before {
    content: "\0025cb  ";
}

ul.lst-kix_c5t5hhvxsmmb-4 {
    list-style-type: none;
}

ul.lst-kix_list_3-7 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-3 {
    list-style-type: none;
}

ul.lst-kix_list_3-8 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-2 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-1 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-0 {
    list-style-type: none;
}

.lst-kix_list_1-6>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_2-6>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_list_3-0 {
    list-style-type: none;
}

ul.lst-kix_list_3-1 {
    list-style-type: none;
}

.lst-kix_2lkzbwehyk74-4>li:before {
    content: "\0025cb  ";
}

ul.lst-kix_list_3-2 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-8 {
    list-style-type: none;
}

ul.lst-kix_list_3-3 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-7 {
    list-style-type: none;
}

ul.lst-kix_list_3-4 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-6 {
    list-style-type: none;
}

.lst-kix_2lkzbwehyk74-6>li:before {
    content: "\0025cf  ";
}

ul.lst-kix_list_3-5 {
    list-style-type: none;
}

ul.lst-kix_c5t5hhvxsmmb-5 {
    list-style-type: none;
}

ul.lst-kix_list_3-6 {
    list-style-type: none;
}

ul.lst-kix_list_1-0 {
    list-style-type: none;
}

ul.lst-kix_list_1-2 {
    list-style-type: none;
}

.lst-kix_list_2-2>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_list_1-1 {
    list-style-type: none;
}

ul.lst-kix_list_1-4 {
    list-style-type: none;
}

ul.lst-kix_list_1-3 {
    list-style-type: none;
}

ul.lst-kix_list_1-6 {
    list-style-type: none;
}

.lst-kix_c5t5hhvxsmmb-0>li:before {
    content: "\0025cf  ";
}

ul.lst-kix_list_1-5 {
    list-style-type: none;
}

ul.lst-kix_list_1-8 {
    list-style-type: none;
}

ul.lst-kix_list_1-7 {
    list-style-type: none;
}

.lst-kix_list_2-1>li:before {
    content: "\0025cb  ";
}

.lst-kix_c5t5hhvxsmmb-2>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_2-8>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_3-7>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_2-0>li:before {
    content: "\0025cf  ";
}

.lst-kix_2lkzbwehyk74-7>li:before {
    content: "\0025cb  ";
}

.lst-kix_20hegd49ud3-1>li:before {
    content: "\0025cb  ";
}

.lst-kix_c5t5hhvxsmmb-1>li:before {
    content: "\0025cb  ";
}

.lst-kix_2lkzbwehyk74-8>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_3-5>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_2-4>li:before {
    content: "\0025a0  ";
}

.lst-kix_2lkzbwehyk74-0>li:before {
    content: "\0025cf  ";
}

.lst-kix_20hegd49ud3-5>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_2lkzbwehyk74-0 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-2 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-1 {
    list-style-type: none;
}

.lst-kix_list_3-0>li:before {
    content: "\0025cf  ";
}

ul.lst-kix_2lkzbwehyk74-4 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-3 {
    list-style-type: none;
}

.lst-kix_list_2-5>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf  ";
}

ul.lst-kix_2lkzbwehyk74-6 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-5 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-8 {
    list-style-type: none;
}

ul.lst-kix_2lkzbwehyk74-7 {
    list-style-type: none;
}

.lst-kix_list_3-4>li:before {
    content: "\0025a0  ";
}

.lst-kix_list_1-3>li:before {
    content: "\0025a0  ";
}

.lst-kix_c5t5hhvxsmmb-3>li:before {
    content: "\0025cf  ";
}

.lst-kix_c5t5hhvxsmmb-4>li:before {
    content: "\0025cb  ";
}

.lst-kix_list_3-8>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_20hegd49ud3-8 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-7 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-6 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-5 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-4 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-3 {
    list-style-type: none;
}

.lst-kix_list_3-1>li:before {
    content: "\0025cb  ";
}

ul.lst-kix_20hegd49ud3-2 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-0 {
    list-style-type: none;
}

ul.lst-kix_list_2-4 {
    list-style-type: none;
}

ul.lst-kix_20hegd49ud3-1 {
    list-style-type: none;
}

ul.lst-kix_list_2-5 {
    list-style-type: none;
}

ul.lst-kix_list_2-6 {
    list-style-type: none;
}

.lst-kix_list_1-7>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_list_2-7 {
    list-style-type: none;
}

ul.lst-kix_list_2-0 {
    list-style-type: none;
}

ul.lst-kix_list_2-1 {
    list-style-type: none;
}

.lst-kix_2lkzbwehyk74-5>li:before {
    content: "\0025a0  ";
}

ul.lst-kix_list_2-2 {
    list-style-type: none;
}

ul.lst-kix_list_2-3 {
    list-style-type: none;
}

.lst-kix_20hegd49ud3-4>li:before {
    content: "\0025cb  ";
}

ul.lst-kix_list_2-8 {
    list-style-type: none;
}

ol {
    margin: 0;
    padding: 0;
}

.c6 {
    padding-left: 0;
    line-height: 1.0;
    padding-top: 0;
    margin-right: 40pt;
    text-align: justify;
    direction: ltr;
    margin-left: 36pt;
    padding-bottom: 0;
}

.c8 {
    line-height: 1.0;
    padding-top: 0;
    margin-right: 40pt;
    text-indent: -30pt;
    direction: ltr;
    margin-left: 30pt;
    padding-bottom: 0;
}

.c9 {
    line-height: 1.0;
    padding-top: 0;
    margin-right: 40pt;
    text-align: justify;
    direction: ltr;
    margin-left: 18pt;
    padding-bottom: 10pt;
}

.c3 {
    line-height: 1.0;
    padding-top: 0;
    margin-right: 40pt;
    text-align: justify;
    direction: ltr;
    margin-left: 18pt;
    padding-bottom: 0;
}

.c13 {
    line-height: 1.0;
    padding-top: 0;
    margin-right: 40pt;
    direction: ltr;
    margin-left: 18pt;
    padding-bottom: 10pt;
}

.c14 {
    line-height: 1.0;
    padding-top: 0;
    direction: ltr;
    padding-bottom: 0;
}

.c16 {
    line-height: 1.0;
    padding-top: 0;
    direction: ltr;
    padding-bottom: 10pt;
}

/*.c25 {*/
    /*max-width: 540pt;*/
    /*background-color: #fff;*/
    /*padding-left: 36pt;*/
/*}*/

.c22 {
    color: #15c;
    font-size: 8pt;
    text-decoration: underline;
}

.c0 {
    color: #666;
    font-size: 8pt;
    font-weight: 700;
}

.c17 {
    color: #cc7a17;
    font-size: 12pt;
}

.c4 {
    color: #666;
    font-size: 8pt;
}

.c24 {
    padding-left: 0;
    margin-left: 36pt;
}

.c7 {
    margin: 0;
    padding: 0;
}

.c1 {
    color: #444;
    font-size: 8pt;
}

.c5 {
    color: #cc7a17;
    font-size: 9pt;
}

.c2 {
    font-size: 11pt;
    font-family: Arial;
}

.c15 {
    color: #333;
    font-size: 8pt;
}

.c23 {
    text-indent: -18pt;
    margin-left: 36pt;
}

.c26 {
    color: inherit;
    text-decoration: inherit;
}

.c18 {
    margin-right: 36pt;
}

.c10 {
    height: 10pt;
}

.c11 {
    color: #9a521b;
}

.c20 {
    height: 18pt;
}

.c19 {
    margin-left: 18pt;
}

.c12 {
    text-align: justify;
}

.c21 {
    margin-right: 40pt;
}

.title {
    padding-top: 24pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 36pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 6pt;
}

.subtitle {
    padding-top: 18pt;
    line-height: 1.15;
    text-align: left;
    color: #666;
    font-style: italic;
    font-size: 24pt;
    background-color: #fff;
    font-family: Georgia;
    padding-bottom: 4pt;
}

li {
    color: #000;
    font-size: 10pt;
    background-color: #fff;
    font-family: Verdana;
}

p {
    color: #000;
    font-size: 10pt;
    background-color: #fff;
    margin: 0;
    font-family: Verdana;
}

h1 {
    padding-top: 12pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 18pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 12pt;
    margin-bottom: 5px;
}

h2 {
    padding-top: 11.2pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 14pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 11.2pt;
}

h3 {
    padding-top: 12pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 12pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 12pt;
}

h4 {
    padding-top: 12.8pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 10pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 12.8pt;
}

h5 {
    padding-top: 12.8pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 8pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 12.8pt;
}

h6 {
    padding-top: 18pt;
    line-height: 1.15;
    text-align: left;
    color: #000;
    font-size: 8pt;
    background-color: #fff;
    font-family: Verdana;
    font-weight: 700;
    padding-bottom: 18pt;
}

.c99 {
    margin-left: 20px;
}